[submodule "vim/bundle/neobundle"]
  path = vim/bundle/neobundle
  url = https://github.com/Shougo/neobundle.vim
  ignore = dirty
[submodule "liquidprompt"]
  path = liquidprompt
  url = https://github.com/nojhan/liquidprompt.git
  ignore = dirty
[submodule "homedot/oh-my-zsh"]
	path = homedot/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "homedot/vim/bundle/neobundle.vim"]
	path = homedot/vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "homedot/tmux/tmux-powerline"]
	path = homedot/tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
