!homedot/vim/bundle/neobundle.vim
.DS_Store
home/bin/gam
home/bin/secret
home/bin/dex2jar-2.0/
home/bin/suspiciuous*
homedot/vim/bundle/
homedot/vim/plugged/
homedot/vim/tmp/
homedot/zsh/secret
id_rsa
id_rsa.pub
